body{
    background-color:beige;
}

#proj_bar {
    text-align: center;
    display: flex;
    margin-top: 40px
}

h1,.proj{
    font-family:'Lucida Console'
}

#search {
    display: flex;
    height: 60%;
    margin: auto
}

#table {
    margin-top: 30px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}
#pForm {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.btn-primary {
    color: #fff;
    background-color: cadetblue;
    border-color: cadetblue;
}